/*--------- Font ------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/*------------- Basic reset -------------------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;        
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}
body{    
    background:url(../img/bg.jpg)no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px; }
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}
.form-shadow{
    width:350px;
    /* box-shadow: 1px 1px rgb(32, 42, 54), 2px 2px rgb(32, 42, 54), 3px 3px rgb(32, 42, 54), 4px 4px rgb(32, 42, 54), 5px 5px rgb(32, 42, 54), 6px 6px rgb(32, 42, 54), 7px 7px rgb(32, 42, 54), 8px 8px rgb(32, 42, 54), 9px 9px rgb(32, 42, 54), 10px 10px rgb(32, 42, 54), 11px 11px rgb(32, 42, 54), 12px 12px rgb(32, 42, 54), 13px 13px rgb(32, 42, 54), 14px 14px rgb(32, 42, 54), 15px 15px rgb(32, 42, 54), 16px 16px rgb(32, 42, 54), 17px 17px rgb(32, 42, 54), 18px 18px rgb(32, 42, 54), 19px 19px rgb(32, 42, 54), 20px 20px rgb(32, 42, 54), 21px 21px rgb(32, 42, 54), 22px 22px rgb(32, 42, 54), 23px 23px rgb(32, 42, 54), 24px 24px rgb(32, 42, 54), 25px 25px rgb(32, 42, 55), 26px 26px rgb(32, 42, 55), 27px 27px rgb(32, 42, 55), 28px 28px rgb(32, 42, 55), 29px 29px rgb(32, 42, 55), 30px 30px rgb(32, 42, 55), 31px 31px rgb(32, 42, 55), 32px 32px rgb(32, 42, 55), 33px 33px rgb(32, 42, 55), 34px 34px rgb(32, 43, 55), 35px 35px rgb(32, 43, 55), 36px 36px rgb(32, 43, 55), 37px 37px rgb(32, 43, 55), 38px 38px rgb(32, 43, 55), 39px 39px rgb(32, 43, 55), 40px 40px rgb(32, 43, 55), 41px 41px rgb(32, 43, 55), 42px 42px rgb(32, 43, 55), 43px 43px rgb(32, 43, 55), 44px 44px rgb(32, 43, 55), 45px 45px rgb(32, 43, 55), 46px 46px rgb(32, 43, 55), 47px 47px rgb(32, 43, 55), 48px 48px rgb(32, 43, 55), 49px 49px rgb(32, 43, 55), 50px 50px rgb(33, 43, 56), 51px 51px rgb(33, 43, 56), 52px 52px rgb(33, 43, 56), 53px 53px rgb(33, 43, 56), 54px 54px rgb(33, 43, 56), 55px 55px rgb(33, 43, 56), 56px 56px rgb(33, 43, 56), 57px 57px rgb(33, 43, 56), 58px 58px rgb(33, 43, 56), 59px 59px rgb(33, 43, 56), 60px 60px rgb(33, 43, 56), 61px 61px rgb(33, 43, 56), 62px 62px rgb(33, 43, 56), 63px 63px rgb(33, 43, 56), 64px 64px rgb(33, 43, 56), 65px 65px rgb(33, 43, 56), 66px 66px rgb(33, 43, 56), 67px 67px rgb(33, 44, 56), 68px 68px rgb(33, 44, 56), 69px 69px rgb(33, 44, 56), 70px 70px rgb(33, 44, 56), 71px 71px rgb(33, 44, 56), 72px 72px rgb(33, 44, 56), 73px 73px rgb(33, 44, 56), 74px 74px rgb(33, 44, 56), 75px 75px rgb(33, 44, 57), 76px 76px rgb(33, 44, 57), 77px 77px rgb(33, 44, 57), 78px 78px rgb(33, 44, 57), 79px 79px rgb(33, 44, 57), 80px 80px rgb(33, 44, 57), 81px 81px rgb(33, 44, 57), 82px 82px rgb(33, 44, 57), 83px 83px rgb(33, 44, 57), 84px 84px rgb(33, 44, 57), 85px 85px rgb(33, 44, 57), 86px 86px rgb(33, 44, 57), 87px 87px rgb(33, 44, 57), 88px 88px rgb(33, 44, 57), 89px 89px rgb(33, 44, 57), 90px 90px rgb(33, 44, 57), 91px 91px rgb(33, 44, 57), 92px 92px rgb(33, 44, 57), 93px 93px rgb(33, 44, 57), 94px 94px rgb(33, 44, 57), 95px 95px rgb(33, 44, 57), 96px 96px rgb(33, 44, 57), 97px 97px rgb(33, 44, 57), 98px 98px rgb(33, 44, 57), 99px 99px rgb(33, 44, 57), 100px 100px rgb(34, 45, 58);
    */
    margin: 100px auto;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;

}
.form-container {
    margin: 100px auto;
    text-align: center;
    overflow: hidden;    
    -webkit-border-radius: 5px;
    /*    -moz-border-radius: 0.312rem;*/
    border-radius: 5px;
}
.form-header,.form-footer{
    background: #34495e;
    color: #b8eae6;
    text-transform: uppercase;
}
.form-container .form-header {                
    font-size: 1.2rem;
    padding: 1.30rem;        
}
.form-container .form-content {
    background: #34495e;
}
.form-content fieldset{    
    padding: 1rem;
    border: none;    
}
.form-content input[type="text"],.form-content input[type="password"],.form-content input[type="select"],.activity,.weight,.submit,.height,.age,.gender,.form-input-control,.form-content input[type="submit"],.form-input-submit{
    display: block;
    width: 100%;
    margin:0 auto;        
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.form-content input[type="text"],.form-content input[type="password"],.form-input-control,.activity,.weight,.height,.age,.gender,.submit{
    padding: 1rem;
    border: 1px solid #DBD1CE;
    background: #FFF3F0;    
    margin-bottom: 5px;
    background-image: url(images/comment-author.gif);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
.explaination-hidden{
                    display: none;
color: #FFF3F0;
text-transform: uppercase;
margin: 10px;
float: left;
line-height: 18px;
background-color: #FA8469;
border-radius: 7px;
padding: 5px;
        
}

.submit{
    background: #fa8469;
    padding: 0.925rem;
    margin-top: 0.925rem;
    color: #EDEAE7;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;    
    border-top: 1px solid #FD9A83;
    border-bottom: 1px solid #F17457;

    font-family: 'Droid Sans', sans-serif;
}
.show{
    background: #FA8469 none repeat scroll 0% 0%;
    padding-left: 0.5rem;
    color: #EDEAE7;
    text-transform: uppercase;
    font-size: 1rem;
    float: left;
    border-width: 1px medium;
    border-style: solid none;
    border-color: #FD9A83 -moz-use-text-color #F17457;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-family: "Droid Sans",sans-serif;
    padding-right: 0.5rem;
    margin-top: 13px;
}


a {   font-family: 'Droid Sans', sans-serif;
      text-decoration:none;}
.headtext{
    color: #b8eae6;
    text-transform: uppercase;
    margin: 15px;
    float:left;}

.form-footer{    
    line-height: 1.9;        
}
.footer-text{
    color: #B8EAE6;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.56rem 0 0 1.25rem;
}
.social-container a{
    text-decoration: none;
    color: #b8eae6;
    font-size: 1.7rem;
    padding: 0.625rem 1.25rem;
}
.social-container a:hover{
    background: #6B6A6A;
}
.logo{content: url(../img/topicon.png);margin: 0 auto -150px; border-radius: 75px; border: 3px solid rgb(52, 73, 94); width: 135px;}
@media (max-width:499px){

    body{background:#34495E;}

    .logo{margin-bottom:-50px;}
    .form-shadow{box-shadow: none;width:100%; margin: 10px auto;}

}
